@media (min-width: 1020px) {
  .header {
    height: 420px;
    display: flex;
    margin: 0px auto 100px;
    width: 80%;
    gap: 40px;
  }

  .header_body {
    margin-top: 80px;
  }

  .header_img {
    margin-top: 80px;
    padding: 15px;
    position: relative;
  }

  .header_img:before {
    content: "";
    background: rgb(41, 73, 55);
    background: linear-gradient(
      180deg,
      rgba(41, 73, 55, 1) 0%,
      rgba(155, 167, 153, 1) 100%
    );
    border-radius: 100%;
    padding: 190px;
    position: absolute;
    z-index: -3;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }
}
